html {
  box-sizing: border-box; 
}

body {
  margin: 0; 
  /* background-color: whitesmoke; */
  /* background-color: #9400D3; */
  /* background-color: #555555; */
  background-color: #2F4F4F;
  min-height: 100vh;
}

.header {
  display: flex;
}

.button-container {
  display: flex;
  flex: 1;
  justify-content: right;
  background-color: black;
  padding: 1rem;

}

button {
  margin: 1rem 1rem 0 1rem;
}

#taskModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.taskModalContent {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  text-align: center;
} 

#loginRegisterModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.loginRegisterContent {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
} 

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#taskBlockContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

#taskBlock {
  /* background-color: #F0F8FF; */
  /* background-color: #00008B; */
  background-color: #5F9EA0;
  flex: 1;
  margin: 10px;
  border-radius: 10px; 
}

#taskBlock h2 {
  text-align: center; 
}

#timeBlock {
  /* background-color: #F0FFFF; */
  /* display: grid;  */
  background-color: #5F9EA0;
  flex: 1;
  margin: 10px;
  border-radius: 10px; 
}

#timeBlock {
  text-align: center; 
}

.draggable {
  border: 3px solid #666;
  background-color: #ddd;
  border-radius: .5em;
  padding: 10px;
  cursor: move;
  display: grid;
}

.timeblock1 {
  grid-area: timeblock1;
}

/* .drop-target { */
/*   height: 10%; */
/*   display: grid; */
/*   grid-template-areas: */
/*   "header header header" */
/*   "timeblock1 timeblock2 timeblock3" */
/*   "footer footer footer"; */
/*   grid-template-columns: 1fr 1fr 1fr;  */
/*   grid-template-rows: 50px 1fr 50px; */
/* } */
.drop-target1 {
  height: 10%;
  display: grid;
  grid-template-areas:
  "timeblock1"
  "timeblock2"
  "timeblock3"
  "timeblock4"
  "timeblock5";
  grid-template-columns: 1fr; 
  grid-template-rows: 50px 1fr 50px;
}

.drop-target2 {
  height: 10%;
  padding-bottom: 20px;
  display: grid;
  grid-template-areas:
  "timeblock1"
  "timeblock2"
  "timeblock3"
  "timeblock4"
  "timeblock5";
  grid-template-columns: 1fr 5fr; 
  /* grid-template-rows: 50px 1fr 50px; */
  grid-template-rows: 1fr;
}

.context-menu-item:hover {
  background-color: #F0FFFF;
}




